<div class="post-comment">
	<header>
  		<strong><%= comment.commenter %></strong><small><em> Comentó:</em></small>
	</header>
	<div class="content">
  		<%= comment.body %>		
	</div>
	<footer>
	  <%= link_to 'Eliminar', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>		
	</footer>
</div>