// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-comment {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.post-comment header strong {
	font-size: 18px;
}

.post-comment .content {
	padding-left: 20px;
}

.post-comment footer {
	text-align: right;
}